.posts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-inline: auto;
    padding: 10vw 5vw;
    max-width: 900px;
}
.posts-wrapper h2{
    margin-bottom: 20px;
}
.posts-wrapper article{
    padding: 1vw;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.354);
    margin-bottom: 20px;
    border-radius: 10px;
}
.add-post-wrapper h2{
    margin-bottom: 20px;
}
.add-post-wrapper label{
    display: block;
}
.add-post-wrapper input,
.add-post-wrapper textarea{
    width: 100%;
    padding: 1vw;
    font-size: 1.1rem;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.add-post-wrapper textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 10vh;
    max-height: 30vh;
}
.add-post-wrapper button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    cursor: pointer;
}
.post-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}